version: '3'
services:
  application:
    build:
      context: ./application
      dockerfile: Dockerfile
    container_name: counter-pro-bot
    ports:
      - "3000:3000"
    restart: always
    networks:
      - mysql_mynetwork
      
  website:
    user: "www-data"
    build:
      context: ./website
      dockerfile: Dockerfile
    container_name: counter-pro-website
    ports:
      - "5008:80"
    restart: always
    networks:
      - mysql_mynetwork

networks:
  mysql_mynetwork:
    external: true
